<?xml version="1.0"?>
<launch>

    <arg name="debug" default="false" />
    <arg name="info" default="true" />
    
    <arg name="planner" default="ompl" />

    <!-- Whether we only load the robot urdf or we load the moveit planning scene with the robot urdf included it -->
    <!-- e.g. /src/abb_experimental/abb_irb120_support/urdf/test_irb120_3_58.xacro -->
    <arg name="load_robot_only_into_moveit" default="true"/>

    <!-- The planning and execution components of MoveIt! configured to run
             against a Gazebo based, ros_control compatible simulation of the IRB 120.

             This depends on the corresponding 'abb_irb120_gazebo' pkg to be installed
             first. This dependency is not expressed in the MoveIt config pkg manifest,
             as adding a run_depend there would cause Gazebo to be unconditionally
             installed, even if the user never intends to use the MoveIt config with it.

             Instead, installation is left to the user, as a kind of poor-mans optional
             dependency.

             Finally, this launch file assumes that gazebo is already running and that 
             the IRB 120 and ros_controllers are loaded. This can be achieved by 
             executing the the following command:

             roslaunch abb_irb120_gazebo irb120_gazebo.launch

    -->
    <rosparam command="load" file="$(find abb_irb120_support)/config/joint_names_irb120_3_58.yaml" />

    <!-- By default, we do not start a database (it can be large) -->
    <arg name="db" default="false" />
    <!-- Allow user to specify database location -->
    <arg name="db_path" default="$(find abb_irb120_moveit_config)/default_warehouse_mongo_db" />

    <!-- don't let planning_context load description, we've already done it -->
    <!-- So load_robot_only_into_moveit will not do anything at all. We will never load the scene from MoveIt!. Instead, we always load the scene from Gazebo. -->
    <include file="$(find abb_irb120_moveit_config)/launch/planning_context.launch">
        <arg name="load_robot_description" value="false" />
        <arg name="load_robot_only_into_moveit" value="$(arg load_robot_only_into_moveit)" />
    </include>

    <include file="$(find abb_irb120_moveit_config)/launch/move_group.launch">
        <arg name="publish_monitored_planning_scene" value="true" />
        <arg name="allow_trajectory_execution" value="true"/>
        <arg name="fake_execution" value="false"/>
        <arg name="info" value="$(arg info)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="planner" value="$(arg planner)" />
    </include>

    <!-- <include file="$(find abb_irb120_moveit_config)/launch/moveit_rviz.launch">
        <arg name="config" value="true"/>
    </include> -->
    
    <!-- If database loading was enabled, start mongodb as well -->
    <include file="$(find abb_irb120_moveit_config)/launch/default_warehouse_db.launch" if="$(arg db)">
        <arg name="moveit_warehouse_database_path" value="$(arg db_path)"/>
    </include>
</launch>
